table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
    padding: 3px;
}

.content {
    font-family: "Monospace";
    margin-left: 100px;
}

.key {
    text-align: left;
    font-weight: bold;
}

.value,
.data-cell {
    text-align: right;
    background-color: #ffffff;
}