<!DOCTYPE html>
<html lang="en">
<head>
	<title>College Football Playoff Predictor</title>
	<meta charset="utf-8"/>
</head>
<body>
    <header>Welcome to the College Football Playoff Projector!</header>
    <h2>Brought to you by S&P+, by Bill Connelly!</h2>
    <table>
	<tr>
	    <th>Team</th>
	    <th>Rating</th>
	    <th>Playoff Odds</th>
	</tr>
	
	<tr>
            <td>Alabama</td>
	    <td>31</td>
	    <td>100</td>
        </tr>
        
	<tr>
            <td>Ohio State</td>
            <td>30</td>
            <td>100</td>
        </tr>
        
	<tr>
	    <td>Clemson</td>
	    <td>29</td>
	    <td>100</td>
	</tr>

	<tr>
	    <td>Oklahoma</td>
	    <td>28</td>
	    <td>100</td>
	</tr>
    </table>
</body>

